$padding: 20px;
$border: 1px solid #ddd;

.user_profile {
	padding: 100px 0;
}

.user_detail {
	display: inline-block;
	width: 100%;
	border: $border;
	padding: $padding;
}

.barbershop_profile {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
	padding: $padding;
	border: $border;
}
